footer{
    background-color: aliceblue;
}
.chicago_view{
    width: 1300px;
    height: 500px;
}
.dark_border{
    border: 5px;
    border-style: solid;
}
img{
    width: 300px;
    height: 430px;
    place-content: middle;
}
.Chicago_text{
  position: relative;
  text-align: center;
  color: antiquewhite;
  font-size: 150px;
  font-family: 'Courier New', Courier, monospace;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  main{
    background-color: azure;
  }
  .center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .Top{
    text-align: center;
  }